<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .active{
            background: #a10;
        }
    </style>
</head>
<body>
    <!-- <div id="app">
        <div>
            <input type="text" v-model="name">
            <span v-show="name">Your name: {{name}}</span>
        </div>
        <div>
            <input type="text" v-model="age">
            <span v-show="age">Your age: {{age}}</span>
        </div>
        <div>
            <input type="text" v-model="sex">
            <span v-show="sex">Your sex: {{sex}}</span>
        </div>
    <!-- </div> -->

    <!-- v-bind -->
    <!-- <div id="background">
        键名是要添加的类， 值是条件
        <a :href="url" :class='{active: isActive}'> 
            <img v-bind:src="img">
            点我
        </a>
    </div> -->

    <!-- v-on 快捷方式@-->
    <div id="event">
        <button v-on="{mouseenter: onEnter, mouseleave: onOut}" v-on:click="onClick">点我</button>
        <form v-on:keyup="onKeyup" v-on:submit.prevent="onSubmit()">
            <input type="text">
            <button type="submit">提交</button>
        </form>
    </div>
    <script src="./lib/vue.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>